# Copy this file to .env and fill in your values

# Environment Mode
# Valid values: local, staging, production
ENV_MODE=local

#DATABASE
SUPABASE_URL=https://jxwswvvriqzbyhyfvasf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4d3N3dnZyaXF6YnloeWZ2YXNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkwNjcyMTksImV4cCI6MjA2NDY0MzIxOX0.34UJkjlWlnwCnzYQz1IOEkYvUUdJCoO2xckcbTTnTW0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4d3N3dnZyaXF6YnloeWZ2YXNmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTA2NzIxOSwiZXhwIjoyMDY0NjQzMjE5fQ.h1EXLzVah3U_Vf5WWbGI4Pwrdheq2rqQj7dauKyHs3M

# REDIS CONFIGURATION
# For local development with Docker:
# REDIS_HOST=redis
# REDIS_PORT=6379
# REDIS_PASSWORD=
# REDIS_SSL=false

# For production with Upstash Redis:
REDIS_HOST=dominant-crayfish-20240.upstash.io
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=AU8QAAIjcDE4YjE3OWU4NjRjOTQ0MjlhYmE1ZWI5NWE2ODM3NGQ4MXAxMA
REDIS_SSL=true

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# LLM Providers:
ANTHROPIC_API_KEY=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
OPENAI_API_KEY=
MODEL_TO_USE=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=

GROQ_API_KEY=
OPENROUTER_API_KEY=

# DATA APIS
RAPID_API_KEY=

# WEB SEARCH
TAVILY_API_KEY=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

# WEB SCRAPE
FIRECRAWL_API_KEY=fc-c2f11ab61ac24906bc547b4366aa75e3
FIRECRAWL_URL=https://api.firecrawl.com/v1

# Sandbox container provider:
DAYTONA_API_KEY=dtn_67d99d3e0b659e988b67aa1b871ea1d51cfeb2c5b1ffdb9ce86b681441fa242d
DAYTONA_SERVER_URL=https://app.daytona.io/api
DAYTONA_TARGET=us

LANGFUSE_PUBLIC_KEY=pk-lf-823e4015-7a76-4f5f-ad90-9999b27c6301
LANGFUSE_SECRET_KEY=sk-lf-261f2754-5416-4ce7-b421-b324fb250237
LANGFUSE_HOST=https://us.cloud.langfuse.com

SMITHERY_API_KEY=34f95976-0e0a-43de-b18a-a964615e9d22

NEXT_PUBLIC_URL=http://localhost:3000